
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | LifeTracker</title>

    <link href="../static/css/output.css" rel="stylesheet">
</head>
<body>
    <div class="container flex-col">

        <div class="fixed top-0 w-full px-10 py-5 flex justify-between">
            <h1 class="highlighted-heading">LifeTracker</h1>
            <div class="flex items-center justify-center space-x-7">
                <a href="{{ url_for('home') }}" class="navbar-item">Home</a>
                <a href="{{ url_for('dashboard') }}" class="navbar-item">Dashboard</a>
                <a href="{{ url_for('daily_input') }}" class="navbar-item">Track Progress</a>
                <a href="{{ url_for('logout') }}" class="navbar-item">Sign Out</a>
            </div>
        </div>

        <div class="flex items-center space-x-2">
            <label for="rangeToggle">Your Summary</label>
            <select id="rangeToggle" class="border border-gray-300 outline-none p-1 rounded">
              <option value="7">Last 7 Days</option>
              <option value="30">Last 30 Days</option>
            </select>
          </div>
        
        <div class="w-full h-fit mt-5 px-4 grid grid-cols-2 gap-6">
            <div class="bg-white shadow rounded p-4"><canvas id="exercise-chart"></canvas></div>
            <div class="bg-white shadow rounded p-4"><canvas id="water-intake-chart"></canvas></div>
            <div class="bg-white shadow rounded p-4"><canvas id="sleep-chart"></canvas></div>
            <div class="bg-white shadow rounded p-4"><canvas id="screen-time-chart"></canvas></div>
        </div>
    </div>

    <!-- for charts -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script type="module" src="../static/js/charts/exercise.js"></script>
    <script type="module" src="../static/js/charts/water-intake.js"></script>
    <script type="module" src="../static/js/charts/sleep.js"></script>
    <script type="module" src="../static/js/charts/screen-time.js"></script>
    <script type="module" src="../static/js/charts/mood.js"></script>
</body>
</html>