<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | LifeTracker</title>

    <link href="../static/css/output.css" rel="stylesheet">
</head>
<body>
    <div class="main-container flex-col">
        <div class="fixed top-0 w-full px-5 sm:px-7 md:px-10 py-5 flex flex-col justify-center items-center sm:flex-row sm:justify-between">
            <h1 class="highlighted-heading sm:mr-5">LifeTracker</h1>
            <div class="text-[1rem] xs:text-lg mt-3 sm:mt-0 mx-3 space-x-3 flex sm:items-center sm:justify-center xs:space-x-7">
                <a href="{{ url_for('home') }}" class="navbar-item">Home</a>
                <a href="{{ url_for('daily_output') }}" class="navbar-item">Dashboard</a>  <!-- wait for dashboard -->
                <a href="{{ url_for('daily_output') }}" class="navbar-item">Track Progress</a>
                <a href="{{ url_for('logout') }}" class="navbar-item">Sign Out</a>
            </div>
        </div>
        <div class="app-intro flex flex-col justify-between m-5">
            <h1 class="text-3xl md:text-4xl font-bold bg-gradient-to-r from-blue-600 to-purple-600 bg-clip-text text-transparent">
                Welcome, <span class="capitalize">{{ user_name }}</span>!
            </h1>
            <p class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl text-gray-700 my-3 ">DailyLife Tracker.</p>
            <p class="text-2xl sm:text-3xl lg:text-4xl my-2">A simple app to track your daily habits and activities.</p>
            <p class="text-2xl sm:text-3xl lg:text-4xl mb-4">Input your data easily and view your progress on the dashboard</p>
            <a href="{{ url_for('daily_input') }}" class="btn mx-4 text-center sm:mx-6">Get Started</a>
        </div>
    </div>

</body>
</html>