<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../static/css/output.css" rel="stylesheet">
    <title>Log In</title>
</head>
<body>
    <div class="container">
        <form class="auth-form">
            <p class="auth-form-heading">LogIn to <span class="highlighted-heading">Life Tracker</span></p>
            
            <input type="email" placeholder="Enter your email" name="email" class="form-input"/>
    
            <input type="password" placeholder="Enter your password" name="password" class="form-input"/>

            <a href="resetPassword.html"  class="flex self-start text-sm -mt-1 mb-1 underline hover:text-gray-600 hover:cursor-pointer">Forgot your password?</a>
    
            <button class="btn">Log In</button>

            <p class="text-sm -mt-2">Don't have an account? <a href="register.html"  class="underline hover:text-gray-600 hover:cursor-pointer">Register</span></p>
        </form>
    </div>
</body>
</html>
