<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="../static/css/output.css" rel="stylesheet">
  <title>Log In</title>
</head>

<body>
  <div class="container">
    <form class="auth-form">
      <p class="auth-form-heading">LogIn to <span class="highlighted-heading">Life Tracker</span></p>

      <input type="email" placeholder="Enter your email" name="email" class="form-input" />

      <input type="password" placeholder="Enter your password" name="password" class="form-input" />

      <button class="btn">Log In</button>
    </form>
  </div>
</body>

</html>