<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/css/output.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <title>Register</title>
</head>
<body>
  <div class="container">
    <form class="auth-form" method="POST" action="{{ url_for('register') }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <p class="auth-form-heading">Register at <span class="highlighted-heading">LifeTracker</span></p>

      <div class="flex flex-row space-x-3">
        <input type="text" placeholder="First Name" name="firstname" class="form-input" required>
        <input type="text" placeholder="Last Name" name="lastname" class="form-input" required>
      </div>

        <input type="email" placeholder="Enter your email" name="email" class="form-input" />
        <input type="number" pattern="[0-9]{10}" placeholder="Enter your phone number" class="form-input" />

        <div class="relative w-full">
          <input type="password" placeholder="Enter your password" name="password" class="form-input" id="register-password"/>
          <button class="absolute right-3 top-1/2 -translate-y-1/2 cursor-pointer" type = "button" onClick="togglePasswordButton('register-password', 'register-toggle-icon')">
              <i class="fa-solid fa-eye" id="register-toggle-icon"></i></span>
          </button>
        </div>
        
        <div class="relative w-full">
          <input type="password" placeholder="Re-enter your password" name="password" class="form-input" id="register-repeat-password"/>
          <button class="absolute right-3 top-1/2 -translate-y-1/2 cursor-pointer" type = "button" onClick="togglePasswordButton('register-repeat-password', 'register-repeat-toggle-icon')">
              <i class="fa-solid fa-eye" id="register-repeat-toggle-icon"></i></span>
          </button>
      </div>

      <button class="btn">Register</button>

      <p class="text-sm -mt-2">Already have an account? <a href="login.html"  class="underline hover:text-gray-600 hover:cursor-pointer">Log In</span></p>
    </form>

    <p>Already have an account? <a href="{{ url_for('login') }}">Log In</a></p>
    
    {% with messages = get_flashed_maessages(with_categories=true) %}
      {% if messages %}
        <div class="mt-4">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
  </div>

  <script src="../static/js/auth.js"></script>
</body>
</html>