<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="../static/css/output.css" rel="stylesheet">
  <title>Log In</title>
</head>

<body>
  <div class="container">
    <form class="auth-form">
      <p class="auth-form-heading">Register at <span class="highlighted-heading">LifeTracker</span></p>

      <div class="flex flex-row space-x-3">
        <input type="text" placeholder="First Name" name="firstname" class="form-input" />
        <input type="text" placeholder="Last Name" name="lastname" class="form-input" />
      </div>

      <input type="email" placeholder="Enter your email" name="email" class="form-input" />
      <input type="tel" pattern="[0-9]{10}" placeholder="1234567890" class="form-input" />

      <input type="password" placeholder="Enter your password" name="password" class="form-input" />

      <button class="btn">Register</button>
    </form>
  </div>
</body>

</html>