<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../static/css/output.css" rel="stylesheet">
    <title>Reset Password</title>
</head>
<body>
    <div class="container">
        <form class="auth-form" id="password-reset-form">
            <p class="auth-form-heading">Reset your password</p>

            <div class="flex flex-col w-full" id="email-input">
                <input type="email" placeholder="Enter a registered email" name="email" class="form-input"/>
            
                <button type="submit" class="btn">Send Code</button>
            </div>

            <!--need to show this only after send code is clicked -->
            <div class="flex flex-col w-full" id="code-input">
                <input type="text" placeholder="Enter a valid code" name="code" class="form-input"/>
        
                <button type="submit" class="btn">Verify Code</button> 
            </div>

            <!--need to show this after verify code is clicked  -->
            <div class="flex flex-col w-full" id="password-input">
                <input type="password" placeholder="Enter a new passsword" name="password" class="form-input"/>
                <input type="password" placeholder="Re-enter your password" name="password" class="form-input"/>
        
                <button type="submit" class="btn">Change Password</button>
            </div>
        </form>
    </div>
</body>
</html>