<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../static/css/output.css" rel="stylesheet">
    <title>Reset Password</title>
</head>
<body>
    <div class="main-container">
        <form class="auth-form" id="password-reset-form" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        
            <p class="auth-form-heading">Reset your password</p>
        
            {% if step == 1 %}
            <div class="flex flex-col w-full" id="email-input">
                <input type="email" placeholder="Enter a registered email" name="email" class="form-input"/>
                <button type="submit" class="btn">Submit</button>
            </div>
            {% elif step == 2 %}
            <div class="flex flex-col w-full" id="code-input">
                <input type="text" placeholder="Enter the code" name="code" class="form-input"/>
                <button type="submit" class="btn">Verify Code</button> 
                <div class="mt-4 text-sm text-gray-600">
                    Didn't receive a code? 
                    <a href="{{ url_for('reset_password', resend='1') }}" class="text-blue-500">
                        Resend code
                    </a>
                </div>
                <div class="mt-4">
                    <a href="{{ url_for('reset_password') }}?force=1" 
                       class="text-blue-500 underline">
                       Start Over
                    </a>
                </div>
            </div>
            {% elif step == 3 %}
            <div class="flex flex-col w-full" id="password-input">
                <input type="password" placeholder="Enter new password" name="password" class="form-input"/>
                <input type="password" placeholder="Re-enter password" name="password_confirm" class="form-input"/>
                <button type="submit" class="btn">Change Password</button>
            </div>
            {% endif %}
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
                </div>
            {% endif %}
            {% endwith %}
        </form>
    </div>
    <!-- ==================== JAVASCRIPT ==================== -->
    <script src="{{ url_for('static', filename='js/resetPassword.js') }}"></script>
</body>
</html>